@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
body,
button {
  font-family: "Inter", sans-serif;
}
:root {
  --offcanvas-width: 270px;
  --topNavbarHeight: 56px;
  --secondcolor:#D6F0F1;

    /* --maincolor:#191E4E; */
  --maincolor: #087630;
  --secondcolor:#D6F0F1;
  /* --thirdcolor: #238C8F; */
  --thirdcolor: #3BC35F;
  /* --fourthcolor:#1d1b31; */
  --fourthcolor: #001410;

  --gradient1: #62BE72;
  --gradient2: #168486;
}
.sidebar-nav {
  width: var(--offcanvas-width);
}
.sidebar-link {
  display: flex;
  align-items: center;
}
.sidebar-link .right-icon {
  display: inline-flex;
}
.sidebar-link[aria-expanded="true"] .right-icon {
  transform: rotate(180deg);
}

/* color change */
.bg-primary{
  /* background: linear-gradient(to right, #191e4e, #168486); */
  background: linear-gradient(to right, var(--gradient1), var(--gradient2));
  border: none;
}
.container{
  width: 90%;
}

@media (min-width: 992px) {
  body {
    overflow: auto !important;
  }
  main {
    margin-left: var(--offcanvas-width);
  }
  /* this is to remove the backdrop */
  .offcanvas-backdrop::before {
    display: none;
  }
  .sidebar-nav {
    -webkit-transform: none;
    transform: none;
    visibility: visible !important;
    height: calc(100% - var(--topNavbarHeight));
    top: var(--topNavbarHeight);
  }
}
