.cont-editprofile{
    position: relative;
    height: 70%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont-editprofile .container{
    position: relative;
    display: block;
}

.cont-editprofile .container .input-group{
    margin: 10px 10px ;
}
.cont-editprofile .container .input-group label{
    width: 150px;
    font-size: 1rem;
    margin-right: 20px;
}
.cont-editprofile .container .input-group input {
    
    border-color: var(--maincolor) 2px solid;
    line-height: 1rem;
    border-radius: 5px;
    border-bottom-left-radius: 5px !important; 
    border-top-left-radius: 5px !important; 
}
.cont-editprofile .container .input-group input[type=file] {
    
    background-color: var(--thirdcolor);
    color: white;
    border: var(--maincolor) 1px solid ;
}
.cont-editprofile .container .input-group:last-child {
    margin-top: 3rem;
    justify-content: end;
    
}
.cont-editprofile .container .input-group .btn-dark {
    
    border: var(--thirdcolor) 1px solid;
    background-color: var(--thirdcolor);
    
}

.cont-editprofile .container .input-group input[type=file] {
    
    background-color: var(--thirdcolor);
    color: white;
    border: var(--maincolor) 1px solid ;
}

/* BUTTON FOR MESSAGE */

.cont-message{
    height: 50%;
    width: 90%;
    display: grid;
    place-items: center;
}
.module-body form .input-group input{
    border: 1px solid var(--maincolor);
}
.module-body form .input-group label{
    
    padding-top: 20px;
}
.input-group .btn-dark{
    position: absolute;
    right: 0;
    margin-top: 20px;
    border: var(--thirdcolor) 1px solid;
    background-color: var(--thirdcolor);
}

@media (max-width: 940px){
    .cont-editprofile{
        width: 80%;
    }
}

